[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family    : 'sovats' !important;
  speak          : none;
  font-style     : normal;
  font-weight    : normal;
  font-variant   : normal;
  text-transform : none;
  line-height    : 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

.icon-star:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-arrow_down:before {
  content: "\e902";
}
.icon-arrow_up:before {
  content: "\e903";
}
.icon-arrow_left:before {
  content: "\e904";
}
.icon-arrow_right:before {
  content: "\e905";
}
.icon-arrow_left_1:before {
  content: "\e906";
}
.icon-arrow_right_1:before {
  content: "\e907";
}
.icon-arrow_down_1:before {
  content: "\e908";
}
.icon-arrow_up_1:before {
  content: "\e909";
}
.icon-back:before {
  content: "\e90a";
}
.icon-next:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-cancel:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-cart:before {
  content: "\e90f";
}
.icon-cart_1:before {
  content: "\e910";
}
.icon-change_password:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-delete:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
}
.icon-edit1:before {
  content: "\e915";
}
.icon-email:before {
  content: "\e916";
}
.icon-filter:before {
  content: "\e917";
}
.icon-driver:before {
  content: "\e918";
}
.icon-home:before {
  content: "\e919";
}
.icon-location:before {
  content: "\e91a";
}
.icon-location1:before {
  content: "\e91b";
}
.icon-logout:before {
  content: "\e91c";
}
.icon-message:before {
  content: "\e91d";
}
.icon-notification:before {
  content: "\e91e";
}
.icon-order:before {
  content: "\e91f";
}
.icon-order_2:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e921";
}
.icon-minus:before {
  content: "\e922";
}
.icon-plus:before {
  content: "\e923";
}
.icon-promocode:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e925";
}
.icon-sort:before {
  content: "\e926";
}
.icon-upload:before {
  content: "\e927";
}
.icon-users_1:before {
  content: "\e928";
}
.icon-wallet:before {
  content: "\e929";
}
